/* Neste arquivo, faremos TODAS as REGRAS 
CSS necessárias para a formatação do site. */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../imagens/oriental-tiles.png);
    background-attachment: fixed;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: black;
    padding: 10px;
    text-align: center; 
    text-transform: uppercase;
    border-radius: 10px; 
    width: 70%; 
    margin: auto; 
    border: solid 2px #51658F;
    box-shadow: #51658F inset 3px 3px 5px;

    animation-name: caindo;
    animation-duration: 1.5s;

    /* Desafio: aplique as seguintes propriedades:
    - borda em todos os lados na cor que quiser 
    - sombra (na cor que quiser) no bloco virada para dentro
    - coloque o texto no meio
    - letras maiusculas  */
}

h2{
    font-size: 20px;
    border-bottom: solid 5px;
    border-left: dashed 5px;
    padding-left: 10px;
}

h3 {
    color: white;
    background: linear-gradient(
        to right, 
        #0C1033, 
        #2D3FC4
    );

    border-radius: 2px;
    text-align: center;
    padding: 10px;

}

#container {
    background-color: white;
    width: 80%;
    max-width: 2000px;
    margin: auto;
    box-shadow: black 0px 0px 5px;
    padding: 16px;
    border-radius: 10px;
}

/* Grupo de seletores */

h3, p, figcaption {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.destaque {
    background-color: black;
    padding: 1px;
    color: white;
    border-radius: 4px;
}

/* Reset/Limpeza */

figure {
    margin: 0;
    text-align: center;
}

img {
    max-width: 100%;
}

/* Seletor descendente */

p a {
    color: #E66F10;
}

ul {
    padding: 30px;
}

li {
    list-style-image: url(../imagens/fundo03.gif) ;
    line-height: 32px;
}

/* Seletor PSEUDO-ELEMENTO (usa 2x o dois pontos ::) */
li::marker {
    content: "👉🏾";
}

/* Regras para o menu */
nav{
    text-align: center;
    margin-top: 20px;
}

/* Regra para o estado inicial do link */
nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: inline-block;

    /* Alterando o Box Model fazendo com que o padding e o border não dê B.O nas dimensões finais do elemento */
    box-sizing: border-box;

    width: 50%;
    padding: 10px;
    
    border: solid 1px;
    background: linear-gradient(
        #786135,
        #9E8146
    );
}

/* Seletor pseudo-classe :first-child */
nav a:first-child {
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

/* Seletor pseudo-classe :last-child */
nav a:last-child {
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}

/* Regra para o estado do link acionado
Pseudo-classe :hover (passar o mouse)
Pseudo-classe :focus (receber foco) */
nav a:hover, nav a:focus {
    color: #332916;
    background: linear-gradient(
        #9E8146,
        #786135
    )
}

figure img {
    filter: grayscale(50%);
    transition: 2s;
    /* clip-path: circle(50% at 50% 50%); */

    transform: scale(0.8);
}

figure img:hover {
    filter:none;
    /* clip-path: circle(71.6% at 50% 49%); */
    transform: scale(1) /*rotate(360)*/;
}

/* Regras de animação */

@keyframes caindo {
    /* Como começa: */
    from {
        transform: translatey(-100px);
        opacity: 50%;
    }

    /* Como termina: */
    to {
        transform: translatey(0);
    }
}